
<table class="table table-bordered table-hover">
	<thead  class="table-active">
		<tr>
			<th>Service</th>
			<th>Client</th>
			<th>Last Modified</th>
		</tr>
	</thead>
	<tbody>
		<% @invoices.each do |i| %>
		<tr>
			<th style="text-decoration:none;"><%= link_to i.service, invoice_path(i) %></th>
			<td><%= who_client(i) %></td>
			<td><%= last_modified i %></td>
		</tr>
		<%end%>
	</tbody>
</table>

