<h1>Your invoice details:</h1>

<h4> Service provided: <%= @invoice.service %> </h4><br>
<h4> Rate: <%= @invoice.rate %> </h4><br>
<h4> Amount: <%= @invoice.amount %> </h4><br>
<h4> Total: <%= @invoice.total %> </h4><br>