<h1 style="text-align:center"> Hello, <%=current_user.name %>!</h1>


<h3><p style="text-align:center;"></h3></p><form action="<%=clients_path%>" method="get">
	<button type="submit" class="btn btn-primary btn-block" value="Clients" >VIEW YOUR CLIENTS</button>
</form>
<br>
<h3><p style="text-align:center;"></h3></p><form action="<%=projects_path%>" method="get">
	<button type="submit" class="btn btn-primary btn-block" value="Log in">VIEW YOUR PROJECTS</button>
</form>
<br>
<h3><p style="text-align:center;"></h3></p><form action="<%=invoices_path%>" method="get">
	<button type="submit" class="btn btn-primary btn-block" value="Log in">VIEW YOUR INVOICES</button>
</form>

 







