
<h1>Your Clients:</h1>
<% if @clients.count != 0%>

<ol>
	<% @clients.each do |c| %>
	<h1><li>
		<%= link_to c.business_name, client_path(c) %>
	</li></h1>
	<%end%>
		</ol>
		To add a new client click <%=link_to "HERE", new_client_path%>.
<%else %>
	You currently have no clients. To add a new client click <%=link_to "HERE", new_client_path%>.
<%end%>
