
<% if params[:client_id] %>
<br>
<h2> Your projects for <%=@client.business_name%>: </h2>
	<%=render 'index' %>
<%elsif @projects.count !=0 %>
<br>
	<%=render 'index' %>
<%else%>
<h2 style="color:red"> You currently have no projects. To create a new project, you need to add it to an existing client. See your client list <%= link_to "HERE", clients_path %></h2>
<%end%>