
		<br>
		<br>
		<br>


		<% if notice%>
			<div class="alert alert-success col-md-4 col-centered" role="alert"><h5><p class="notice" text-align="center"><%= notice %></p></h5></div>
 		<% elsif alert%>
			 <div class="alert alert-danger col-md-4 col-centered" role="alert"><h5><p class="alert" text-align="center"><%= alert %></p></h5></div>
		<% end %>