
		<br>
		<br>
		<br>


		<% if notice%>
			<div class="alert alert-success col-md-4 col-centered" role="alert"><h5><p class="notice" ><%= notice %></p></h5></div>
 		<% elsif alert && !current_user%>
			 <div class="alert alert-danger col-md-4 col-centered" role="alert"><h5><p class="alert" ><%= alert %></p></h5></div>
		<% end %>