<% if notice || alert %>
<div class="alert alert-danger" role="alert"><h5 style="color: red"><p class="notice" text-align="center"><%= notice %></p>
 <p class="alert" text-align="center"><%= alert %></p></h3></div>
 <% end %>
